.height-screen {
    height: calc(100vh - 180px);
}

.title-login {
    font-size: clamp(2.5rem, 3vw, 5rem);
}

.typing-effect {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: typing 2.5s steps(35, end) forwards, blink-caret 0.70s step-end infinite;
}

.background-gray-blured-login {
    border-radius: 15px;
    background-color: rgb(187 187 187 / 60%);
    ;
    backdrop-filter: blur(5px);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}